<div>
  <app-widget-area [data]="bigChart"></app-widget-area>
</div>

<br />

<mat-divider></mat-divider>

<br />

<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
  class="stats-cards"
>
  <mat-card fxFlex="25">
    <app-widget-card
      label="New Users"
      total="12k"
      percentage="50"
      [data]="Cards"
    ></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card
      label="Users retention"
      total="10k"
      percentage="40"
      [data]="Cards"
    ></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card
      label="Users engagement"
      total="8k"
      percentage="30"
      [data]="Cards"
    ></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card
      label="Referral"
      total="6k"
      percentage="20"
      [data]="Cards"
    ></app-widget-card>
  </mat-card>
</div>
<br />
<mat-divider></mat-divider>
<br />

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <div fxFlex="100">
    <div class="mat-elevation-z8 p-input-filled ">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
        class="p-col-12"
          type="text"
          (keyup)="applyFilter($event)"
          pInputText
          placeholder="Digite uma busca"
          #input

        />
      </span>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress</th>
          <td mat-cell *matCellDef="let row">{{ row.progress }}%</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Color</th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color">
            {{ row.color }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
  <div fxFlex="40">
    <app-widget-pie [data]="pieChart"></app-widget-pie>
  </div>
</div>


<br />
<br />
<br />
<br />
<br />
<br />
