:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 350px;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}

::ng-deep .mat-form-field {
  .mat-input-element {
      color: slategray;
  }
  .mat-form-field-label {
      color: slategray;
  }
  .mat-form-field-underline {
      background-color: slategray;
  }
  .mat-form-field-ripple {
      background-color: slategray;
  }
  .mat-form-field-required-marker {
      color: slategray;
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
      color: #ff884d;
  }
  .mat-form-field-ripple {
      background-color: #ff884d;
  }
  .mat-form-field-required-marker {
      color: #ff884d;
  }
  .mat-input-element {
      color: #ff884d;
  }
}

